*{
  
  margin: 0px;
  
}


body{
  
  height:100vh;
  width:100vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.login_box{
  
  height: 60%;
  width: 70%;
  background-color: whitesmoke;
  border-radius: 30px;
  box-shadow: 10px 10px 10px black, inset
  5px 5px 50px black
 /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;*/

}


.user_name{
  
  height: 10%;
  width: 70%;
  background-color: white;
  margin-top: 30%;
  margin-left: 15%;
  border-radius: 15px;
  box-shadow: 10px 10px 10px black
  
}


.password{
  
  height: 10%;
  width: 70%;
  background-color: white;
  margin-top: 10%;
  margin-left: 15%;
  border-radius: 15px;
  box-shadow: 10px 10px 10px black
  
}


#p_bar{
  
  height: 99%;
  width: 99%;
  background-color: white;
  border-radius: 15px;
  
}


#un_bar{
  
  height: 99%;
  width: 99%;
  background-color: white;
  border-radius: 15px;
  
}


button{
  
  height: 30px;
  width: 90px;
  margin-top: 20%;
  margin-left: 33%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 10px 10px 10px black
  
}


.logo{
  
  height: 70px;
  width: 160px;
  background-color: yellow;
  margin-left: 16%;
  margin-top: 10%;
  text-align: center;
  color: blue;
  
}

