*{
  
  margin: 0px;
  
  
}


body{
  
  height:100vh;
  width:100vw;
  background-color:#A1A9FA;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.login_box{
  
  height: 60%;
  width: 70%;
  background-color: #3669DA;
  border-radius: 30px;
  border:0.1px solid;
  box-shadow: 10px 10px 10px #80CAF9, inset
  5px 5px 40px #80CAF9
  
 /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;*/

}


.user_name{
  
  height: 10%;
  width: 70%;
  background-color: white;
  margin-top: 30%;
  margin-left: 15%;
  border-radius: 15px;
  border:0.1px solid;
  box-shadow: 10px 10px 10px #80CAF9
  
}


.user_name:hover{
  
  box-shadow: 10px 10px 10px #80CAF9
  
}


.password{
  
  height: 10%;
  width: 70%;
  background-color: white;
  margin-top: 10%;
  margin-left: 15%;
  border-radius: 15px;
  border:0.1px solid;
  box-shadow: 10px 10px 10px #80CAF9
  
}


.password:hover{
  
  box-shadow: 10px 10px 10px #80CAF9
  
}


#p_bar{
  
  height: 99%;
  width: 99%;
  background-color:rgba(20, 93, 255, 0.5);
  border-radius: 15px;
  
}


#un_bar{
  
  height: 99%;
  width: 99%;
  background-color: rgba(20, 93, 255, 0.5);
  border-radius: 15px;
  
}


button{
  
  height: 30px;
  width: 90px;
  margin-top: 20%;
  margin-left: 33%;
  border-radius: 10px;
  border:0.1px solid;
  background-color: #4514FFD9
  box-shadow: 10px 10px 10px #80CAF9
  
}


button:hover{
  
  box-shadow: 0 0 100px white;
  
}


.logo{
  
  height: 70px;
  width: 160px;
  background-image: url("htt.jpg");
  background-size: cover;
  margin-left: 16%;
  margin-top: 10%;
  text-align: center;
  color: blue;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #80CAF9,inset 1px 1px 10px #B6BBFF
  
  
}


